* {
    padding: 0;
    margin: 0;

}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-family: cursive;
    font-weight: 700;

}

main {
    background-color: hsl(0, 0%, 100%);
    width: 30%;
    border-radius: 15px;
    padding: 20px;
    margin: 50px;
}

img {
    border-radius: 15px;
    width: 100%;
}


h1 {
    margin-top: 20px;
    color: hsl(218, 44%, 22%);
}

p {
    margin-top: 20px;
    color: hsl(220, 15%, 55%);
    font-size: 20px;
}


@media screen and (max-width:375px) {
    main {
        width: 100%;
    }

    img {
        width: 100%;
    }

    h1 {
        font-size: 17px;
    }

    p {
        font-size: 15px;
    }
}
@media screen and (min-width:1440px) {
    main {
        width: 30%;
    }

    img {
        width: 100%;
    }

    h1 {
        font-size: 17px;
    }

    p {
        font-size: 15px;
    }
}